page-home {

}

.project{
	display: inline-block;
	text-align: center;
}

.project-icon{
	width: 100px;
	height: 100px;
	background: #4f465a;
	border-radius: 10px;
	padding-top: 42%;
	color: #ffffff;
}
